<!DOCTYPE HTML>
<html>
	<head>
		<title>Innovata Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		{% load static %}
		<noscript><link rel="stylesheet" href="{% static 'home/assets/css/noscript.css' %}" /></noscript>
		<link rel="stylesheet" href="{% static 'home/assets/css/my.css' %}">
		<link rel="stylesheet" href="{% static 'home/assets/css/base.css' %}" />
		<link rel="stylesheet" href="{% static 'home/assets/css/tag.css' %}" />
		<!--
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		-->


	</head>
	<body class="is-preload">



	<!-- Header -->
		<header id="header" class="alt">
			<!-- Nav -->
			<nav id="nav">
				<div class="grid">
					<div class="col-lg-3 col-sm-6">
						<h1><a href="">Innovata Portfolio</a></h1>
					</div>
					<div class="col-lg-3 col-sm-6">
						<h3> <strong>CV</strong> </h3>
					</div>
					<div class="col-lg-3 col-sm-6">
						<h3> <strong>Projects</strong> </h3>
					</div>
					<div class="col-lg-3 col-sm-6">
						<h3> <strong>Actions</strong> </h3>
					</div>
				</div>
			</nav>

			<!-- Intro -->
			<section id="intro" class="page_wrapper"><!-- banner -->
				<div class="inner">
					<!-- <div class="logo"><span class="icon fa-diamond"></span></div> -->
					<h2>Innovata</h2>
					<p>Data analyst, Software developer</p>
				</div>
			</section>
		</header>

	<!-- Article -->
		<article class="project-shortcuts page_wrapper">
			<!-- One -->
				<section id="one" class="project-shortcuts spotlight style1">
					<div class="inner">
						<div class="project-shortcut">
							Contents
						</div>
						<div class="description">
							<h2 class="major">Korean News Analysis Project</h2>
							<p>This is for analyzing a variety of news in Korea using Machine learning, NLP.</p>
							<a href="#" class="special">Learn more</a>
						</div>
					</div>
				</section>

			<!-- Two -->
				<section id="two" class="project-shortcuts alt spotlight style2">
					<div class="inner">
						<div class="project-shortcut">
							Contents
						</div>
						</iframe>
						<div class="description">
							<h2 class="major">Data-Map Project</h2>
							<p>This is for visualizing PageRank of my data resources using D3.js, JavaScript, HTML5.</p>
							<a href="datamap/" class="special">Learn more</a>
						</div>
					</div>
				</section>

			<!-- Three -->
				<section id="three" class="project-shortcuts spotlight style3">
					<div class="inner">
						<div class="project-shortcut">
							Contents
						</div>
						<div class="description">
							<h2 class="major">Stock Analysis Project</h2>
							<p>This is for finding some patterns in Korea Stock Market using Big data, Machine learning.</p>
							<a href="#" class="special">Learn more</a>
						</div>
					</div>
				</section>

			<!-- Four -->
				<section id="four" class="wrapper alt style1">
					<div class="inner">
						<h2 class="major">Other Projects</h2>
						<p>These are other projects.</p>
						<section class="features">
							<article>
								<a href="#" class="image"><img src="{% static 'home/images/pic04.jpg' %}" alt="" /></a>
								<h3 class="major">career</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
								<a href="#" class="special">Learn more</a>
							</article>
							<article>
								<a href="#" class="image"><img src="{% static 'home/images/pic05.jpg' %}" alt="" /></a>
								<h3 class="major">life pattern</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
								<a href="#" class="special">Learn more</a>
							</article>
							<article>
								<a href="#" class="image"><img src="{% static 'home/images/pic06.jpg' %}" alt="" /></a>
								<h3 class="major">travel</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
								<a href="#" class="special">Learn more</a>
							</article>
							<article>
								<a href="#" class="image"><img src="{% static 'home/images/pic07.jpg' %}" alt="" /></a>
								<h3 class="major">election</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
								<a href="#" class="special">Learn more</a>
							</article>
						</section>
						<ul class="actions">
							<li><a href="#" class="button">Browse All</a></li>
						</ul>
					</div>
				</section>
		</article>

	<!-- Footer -->
		<section id="footer" class="page_wrapper">
			<div class="inner">
				<div class="grid">
					<div class="col-lg-6 col-sm-12">
						<h2 class="major">Get in touch</h2>
						<p>되도록이면 연락을 삼가하라.</p>
						<form method="post" action="#">
							<div class="fields">
								<div class="field">
									<label for="name">Name</label>
									<input type="text" name="name" id="name" />
								</div>
								<div class="field">
									<label for="email">Email</label>
									<input type="email" name="email" id="email" />
								</div>
								<div class="field">
									<label for="message">Message</label>
									<textarea name="message" id="message" rows="4"></textarea>
								</div>
							</div>
							<ul class="actions">
								<li><input type="submit" value="Send Message" /></li>
							</ul>
						</form>
					</div>
					<div class="col-lg-6 col-sm-12">
						<ul class="contact">
							<li class="fa-home">
								Calle de Pinar 6, N 1A <br />
								28006 - Madrid <br />
								Spain <br />
							</li>
							<li class="fa-phone">(+34) 671-184-343</li>
							<li class="fa-envelope"><a href="#">iinnovata@gmail.com</a></li>
							<li class="fa-linkedin"><a href="https://www.linkedin.com/in/jonghyuk-lee/">linkedin.com/jonghyuk-lee</a></li>
							<!-- Private
							<li class="fa-twitter"><a href="#">twitter.com/private-info</a></li>
							<li class="fa-facebook"><a href="#">facebook.com/private-info</a></li>
							<li class="fa-instagram"><a href="#">instagram.com/private-info</a></li>
							-->
						</ul>
					</div>
				</div>
				<div id="footer2">
					<ul class="copyright">
						<li>&copy; Sambong. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</div>
		</section>



	<!-- Scripts -->
		<script src="{% static 'home/assets/js/jquery.min.js' %}"></script>
		<script src="{% static 'home/assets/js/jquery.scrollex.min.js' %}"></script>
		<script src="{% static 'home/assets/js/browser.min.js' %}"></script>
		<script src="{% static 'home/assets/js/breakpoints.min.js' %}"></script>
		<script src="{% static 'home/assets/js/util.js' %}"></script>
		<script src="{% static 'home/assets/js/main.js' %}"></script>

	</body>
</html>
